<ion-view view-title="Airport Ace">
  <ion-content class="padding">
    <div class="list">
      <label class="item item-input">
        <span class="input-label">Today Is:</span>
        <input type="date">
      </label>
      <label class="item item-input item-select">
        <div class="input-label">
          Start At:
        </div>
        <select>
          <option>11:00a</option>
          <option selected>12:00p</option>
          <option>1:00p</option>
          <option>2:00p</option>
        </select>
      </label>
      <label class="item item-input item-select">
        <div class="input-label">
          Drive For:
        </div>
        <select>
          <option value="2">2 hrs</option>
          <option value="4">4 hrs</option>
          <option value="6" selected>6 hrs</option>
        </select>
      </label>
      <label class="item item-input">
        <span class="input-label">Airport Code:</span>
        <input type="text" placeholder="ex: DEN, DFW, LAX, etc">
      </label>
    </div>
  </ion-content>
</ion-view>
