<ion-view view-title="Dashboard">
  <ion-content class="padding">
    <center><h1>Airport Ace</h1></center>
    <form class="form" action="index.html" method="post">
      <label for="date">Today Is:</label>
      <input id="date" type="date" name="data">
      <label for="start">Start At:</label>
      <select id="start"></select>
      <label for="duration">Drive For:</label>
      <select id="duration">
        <option>2 hrs</option>
        <option>4 hrs</option>
        <option>6 hrs</option>
      </select>
      <label for="airport">Airport Code:</label>
      <input id="airport" type="text" placeholder="DEN, LAX, DFW, etc">
    </form>
  </ion-content>
</ion-view>
